DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="your-random-32-character-secret-here"
NEXTAUTH_URL="http://localhost:3000"

# SMTP Configuration
SMTP_HOST="smtp.mail.me.com"
SMTP_PORT=587
SMTP_USER="your-email@icloud.com"
SMTP_PASS="your-app-specific-password"
SMTP_FROM="SMP Pointage <your-email@icloud.com>"

REPORT_RECIPIENT="raphirodriguez12@icloud.com"
